__pycache__/
*.pyc
*.pyo
instance/
.env
venv/
receipts/
/job_photos/
exports/
estimates/
*.png
*.jpg
*.jpeg
static/logos/*.jpg
static/logos/*.png
static/logos/*.jpeg
static/logos/*.webp
static/logos/*.svg
*.egg-info/
dist/
build/
.eggs/
